[Desktop Entry]
Name=PyCharm
Exec=/opt/pycharm-community-2021.3.3/bin/pycharm.sh
Icon=/opt/pycharm-community-2021.3.3/bin/pycharm.svg
Type=Application
Categories=Development;
